---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'OwlthTech',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Services',
        href: '#services',
        icon: 'tabler:download',
      },
      { text: 'Case Studies', href: getPermalink('/case-studies') },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Elevating Brands Through Innovative<span class="text-transparent bg-clip-text bg-gradient-to-r from-accent to-accent-2 highlight"> IT Expertise</span> &amp;
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-accent-2 to-accent highlight"> Digital Mastery</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="">
        <span class="mb-1 font-semibold text-accent/60">OwlthTech</span>: Your Trusted Partner for Web Development, App Creation, SEO, and More. We take your vision and transform it into digital realities. Our dedication and expertise fuel every project, ensuring that your business reaches its full potential in the digital realm.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <Features
    id="features"
    tagline="A CLEAR CHOICE"
    title="For Your Digital Success"
    subtitle="We go the extra mile to deliver outstanding results."
    items={[
      {
        title: 'Customized Solutions',
        description:
          'Tailored to your unique business needs.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Expert Team',
        description:
          'With in-depth knowledge and experience.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Secure, efficient, and user-friendly experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Transparency',
        description:
          'Transparent communication and timely project delivery.',
        icon: 'tabler:rocket',
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 3.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: '~/assets/images/section-2.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  </Content>