---
// import { SITE } from '~/utils/config';
import Image from '~/components/common/Image.astro';


export interface Props {
  image?: string | any;
}

const {
  image = await Astro.slots.render('image'),
} = Astro.props;

---

{
  image && (
    <div class="rtl:ml-0 rtl:mr-2 whitespace-nowrap w-36">
        {typeof image === 'string' ? (
        <Fragment set:html={image} />
        ) : (
          <Image
            class="text-left"
            widths={[150]}
            sizes="(max-width: 2039px) 150px"
            loading="eager"
            width={150}
            height={50}
            {...image}
          />
        )}
    </div>
  )
}